.main-controles{
    padding-left: 150px;
    padding-right: 150px;
    margin-top: 20px;
}

.search-controls {
  display: flex;
  justify-content: space-between;
  align-items: center;
}


@media only screen and (max-width: 400px) {
    .controles{
        display: block;
    }
    .search-controls {
        display:contents ;
        
        
      }
      .main-controles{
        padding-left:45px;
        padding-right: 45px;
    }
    .lol{
        margin-top: 100px;
    }

}
@media only screen and (max-width: 800px) {
    
      .main-controles{
        padding-left:45px;
        padding-right: 45px;
    }
    

}
